
.footer{
   
    padding: 3px ;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    background-color:rgb(177, 177, 185) ;   
}
.link1{
    text-align: center;
    margin: 5px; 
}
.link1 p a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin: 5px;
    
    
}
.location iframe{
    border: 2px solid ;
    height: 180px;
    border-radius: 5px;
}

.link1 p a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
.copyright{
    background-color: rgb(119, 76, 55);
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
}
.location iframe:hover{
border: 2px solid white;
}
@media only screen and (max-width:580px){
    .location{
        display: inline;
        margin: auto;
    }
    
}
