
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: rgb(246, 246, 246);
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.contact1{
    display: none;
}
.name{
    text-align: center;
    
    margin-top: 10px;
}
.name h2{
    font-size:2rem;  
}


@media only screen and (max-width : 1060px){
    .logo{
        flex-direction: column;
    }
}
@media only screen and (max-width : 940px){
    .contact{
        display: none;
    }
}
@media only screen and (max-width : 800px){
    .name h2{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width : 800px){
    .logo{
        margin: 10px 0px 20px 0px;
    }
     #para2{
        display: none;
    }  
    #para1{
        font: bold;
    }
    .contact1{
        margin-top: 5px;
        display: flex;
        position: relative;
        /* border: 2px solid black; */
        justify-content: space-evenly;
        flex-direction: column;
        
        
    }


}
@media only screen and (max-width : 420px){
    .name h2{
        font-size: 1.3rem;
    }
}